.item {
    list-style: none;
    padding-left: 80;
    width: 250px;
  } 

.header{
  padding: 5px;
  background: rgb(0, 167, 154);
  color: white;
  margin: 0;
}

.body{
  padding-top: 10px;
  background-color:#f9f9f9;
}