.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.contentRoot {
  flex-grow: 1;
}

ul, li {list-style: none;}

a {text-decoration: inherit; color: inherit; }
a:hover {text-decoration: inherit; color: inherit; }