.root {
  background: #f6f6f6;
  margin-top: 0.5rem;
  padding: 1rem;
  cursor: pointer;
}

.grant {
  display: flex;
}

.left {

}


.right {

}

.title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #031b4e;
}

.desc {
  color: #444;
}
/* green - #00A79A, blue - #003C68*/

.detail {
}

.label {
  color: #00A79A;
}