/* 
The SFI color scheme to use.
green - #00A79A, blue - #003C68
*/


.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #00A79A;
  padding:1rem;
  border-bottom: solid;
}
.cols{
  padding: 2rem;
}
.Main{
  width:80%;
  float:right;
  background-color:#f9f9f9;
  padding:1rem;
  padding-top: 0;
}
.sideCol{
  float:left;
  list-style-type: none;
}

h1{
  padding-top:1rem;
  font-size: 2rem;
  color: #00A79A;
}

li{
  list-style: none;
}

.rbutton{
  display:flex;
  float:right;
}

.lbutton{
  display:flex;
  float: left;
}

.header{
  justify-content: space-between;
}