/* 
The SFI color scheme to use.
green - #00A79A, blue - #003C68
*/


.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #00A79A;
  padding:1rem;
  border-bottom: solid;
  text-align: center;
}
.cols{
  padding: 2rem;
}
.Main{
  width:80%;
  float:right;
  background-color:#f9f9f9;
  padding:1rem;
  padding-top: 0;
}
.sideCol{
  float:left;
  list-style-type: none;
}

button{
  border-width:0.001rem;
  -webkit-appearance: none;
  background: none;
  border:none;
  color:#00A79A;
  border-bottom:solid;
  border-top:solid;
}

.lbutton{
  border-width:0.001rem;
  color:#00A79A;
}

.rbutton{
  border-width:0.001rem;
  color:#00A79A;
}

.staff{
  float:left;
  list-style-type: none;
  padding:1rem;
  width:50%;

}

.projects{
  float:right;
  list-style-type: none;
  padding:1rem;
  width:50%;
}

h1{
  padding-top:1rem;
  font-size: 1.6rem;
  color: #00A79A;
}

li{
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
}


h1 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #031b4e;
}

.profileSections {
  /*box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);*/
  margin-bottom: 0.5rem;
}

.sectionHeader {
  padding: 0.5rem;
  border-bottom: 1px solid #00A79A;
  cursor: pointer;
  background: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionHeading {
  font-size: 1.5rem;
  color: #00A79A;
  font-weight: bold;
  margin-bottom: 0.25rem;
}


.sectionHeader:hover {
  background: #eee;
}

.sectionHeading {

}

.section {
  background: #f6f6f6;
  padding: 1rem;
}

.sectionItem {
  padding: 0.25rem 0;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
}

.heading {
  font-size: 1.6rem;
  font-weight: 500;
  color: #444;
  line-height: 1;
}

.detail {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.label {
  color: #00A79A;
  font-weight: 500;
  font-size: 1.1rem;
}


.proposalApprove {
  padding: 0.25rem 1rem;
  background: rgb(0, 167, 154);
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.proposalApprove:hover {
  background: rgba(0, 167, 154, 0.8);
}

.submitReport {
  padding: 0.25rem 0.5rem;
  background: rgb(0, 167, 154);
  color: #fff;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  max-width: 150px;
  margin: 0 auto;
  text-align: center;
}

.proposalApprove:hover {
  background: rgba(0, 167, 154, 0.8);
}





.inputContainer {
  margin-bottom: 0.5rem;
}

.inputLabel {
  color: #444;
  font-weight: 500;
  line-height: 1;
}

.textInput {
  display: block;
  width: 100%;
}

.sectionHeader {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #00A79A;
  cursor: pointer;
  background: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionHeading {
  font-size: 1.2rem;
  color: #031b4e;
  font-weight: 500;
}


.sectionHeader:hover {
  background: #eee;
}

.grantContainer {
  border-bottom: 1px solid #00A79A;
}
